.for-bg-block {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.navbar-toggler:focus {
  outline-color: $link-hover;
}

header{
  position: relative;
  z-index: 120;
}

.nav-position{
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  text-align: center;
  background-color: rgba($black, .7);

  @media (min-width: 868px){
    position: relative;
    background-color: transparent;
  }
}

.search-form.show{
  transform: translateX(0); 
  opacity: 1 ;
}

.search-form{
  position: absolute;
  right: 0;
  transform: translateX(200%);
  opacity: 0;
  transition: .3s transform, .3s opacity;

  

  input{
    border-radius: 10px;
    border:none;
  }
}

