.header-holder {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-toggler:focus {
  outline-color: $link-hover;
}

header{
  position: relative;
}

// .navbar-collapse.collapse {
//   position: absolute; 
// }

// .show {
//   position: absolute;  
// }

.search-form.show{
  transform: translateX(0); 
  opacity: 1 ;
}

.search-form{
  position: absolute;
  right: 0;
  transform: translateX(200%);
  opacity: 0;
  transition: .3s transform, .3s opacity;

  

  input{
    border-radius: 10px;
    border:none;
  }
}

