@import "./main/we-do";
@import "./main/realization";
@import "./main/latest-work";
@import "./main/card";
@import "./main/we-reached";
@import "./main/our-info";

body{
  font-family: 'Montserrat', sans-serif;
}

#wrapper {
  min-width: 320px;
  overflow: hidden;
  border: 1px solid $black;
}

h1,h2,h3,h4,h5{
  color: $text-heading-color;
  font-family: 'Raleway', sans-serif;
}

h2{
  font-size: 36px;
}

h3{
  font-size: 30px;
}

h4{
  font-size: 24px;
}

h5{
  font-size: 22px;
}

h6{
  font-size: 20px;
}

img {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: auto;
}

input{
  outline: none;
  padding: 5px 10px;
}

.btn-light{
  text-transform: uppercase;
  border-bottom-color: $btn-bottom-border-color;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.read-more{
  position: relative;
  display: inline-block;
  outline: none;
}

.common-decor-section{
  margin-bottom: 40px;

  &:after{
    position: absolute;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    border-top: 2px solid;
    width: 60px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media(min-width: 1024px){
    margin-bottom: 0;
  }
}

.common-title-section {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 75px;

  .title-holder {
    margin-bottom: 20px;
  }

  @media (min-width: 768px){
    width: 75%;
  }
}

.common-slider-section {
  text-align: center;
  margin: 0 auto;
  padding: 270px 0;

  @media (min-width: 768px){
    width: 80%;
  }
}

.common-filter-section {
  position: relative;
  z-index: 1;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba($black, .6);
    z-index: 1;
  }
}

.btn-holder {
  padding-top: 45px;
  padding-bottom: 45px;
}

.common-gradient-section {
  background-image: linear-gradient(50deg, rgb(33, 27, 25) 0%, rgb(78, 52, 39) 100%);
}

.ul-list{
  padding: 0;
  margin-left: 30px;
  list-style: none;
  margin-bottom: 0;

  li{
    position: relative;
    padding-left: 50px;
    margin-bottom: 10px;

    &:before{
      content:'';
      width: 22px;
      height: 22px;
      position: absolute;
      border-radius: 50%;
      background-color: $link-hover;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &:after{
      content:'';
      width: 8px;
      height: 8px;
      position: absolute;
      left: 3px;
      top: 50%;
      transform: translateY(-50%);
      border-top: 1px solid $white;
      border-right: 1px solid $white;
      transform: rotate(45deg) translateY(-50%);
    }
  }
}
///////emblems
.emblems{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.emblem-holder{
  padding: 40px;
}

.emblem-indent{
  padding: 90px 0;
}

.for-mobile{
  padding: 80px 0;

  @media(min-width:767px){
    padding-bottom: 0;

    .ul-list{
      padding-bottom: 50px;
    }
  }

  
}

.for-mobile-title{
  padding-bottom: 25px;
}

.for-mobile-content{
   padding-bottom: 30px;
}

