.contacts-page {
  background-color: $gray-100;

  @import "main/contact-us";
  @import "main/locations";
  @import "main/contact-persons";

  .show {
    opacity: 1;
  }

  h1 {
    font-size: 40px;
    text-transform: uppercase;
  }

  h2 {
    margin: 0;
    color: $primary;
    font-size: 48px;
  }

  h3 {
    font-weight: 600;
    font-size:  22px;
  }

  h1, h3 {
    margin: 0;
    color: $white;
  }

  a{
    color: $primary;
  }

  strong {
    font-weight: 500;
  }

  .btn-danger {
    background-color: $danger;
    color: $white;
    text-transform: capitalize;
    font-weight: 500;
  }

  input, button {
    border-radius: 3px;
  }

  .common-title-holder {
    padding-bottom: 76px;
    text-transform: uppercase;
    color: $primary;
    text-align: center;
  }

  .common-space{
    padding-top: 70px;
  }
}



