.posts-slider{
  padding-bottom: 40px;
  font-size: 14px;

  a{
    color: $link-hover;
  }

}

.for-arrows-box{

  button{
    width: 25px;
    height: 25px;
    cursor: pointer;
    outline: none;
    appearance: none;
    line-height: 0;
    font-size: 0;
    background-color: transparent;
    border: none;
  }

  .next{

    &:before{
      border: 2px solid $link-hover;
    }

    &:after{
      border-right: 2px solid $link-hover;
      border-top: 2px solid $link-hover;
      transform: translate(-50%, -50%) rotate(45deg);
      left: 47%;
    }
  }

  .prev{
    margin-right: 15px;

    &:before{
      border: 2px solid $posts-slider-prev-btn-color;
    }
    

    &:after{
      border-left: 2px solid $posts-slider-prev-btn-color;
      border-top: 2px solid $posts-slider-prev-btn-color;
      transform: translate(-50%, -50%) rotate(-45deg);
      left: 58%;
    }

  }

  .prev,
  .next{
    position: relative;

    &:before{
      position: absolute;
      content:"";
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
    }

    &:after{
      content: "";
      width: 10px;
      height: 10px;
      position: absolute;
      top: 50%;
    }
  }  
}

.slider-item{

  article{
    margin-right: 10px;
    margin-left: 10px;
  }
}

.article-img-date{
  color: $white;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 55;
}

.article-card-title{
  transition: .3s background-color;
  padding: 15px 15px 15px 20px;

  h5{
    
    transition: .3s color;
  }

  p{
    transition: .3s color;
  }
  .heading-title{
    padding-bottom: 15px;
    color: inherit;
  }
}

.date,
.month{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  transition: .3s background-color;
}

.date{
  height: 30px;
  background-color: $date-bg-color;
  font-size: 24px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 5px 0;
  
}

.month{
  height: 20px;
  background-color: $month-bg-color;
  font-size: 12px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 12px 0;
}



.card-img-holder{

  &:after{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    transition: .3s background-color;
  }
}

.slider-card{

  &:hover{

    .date{
      background-color: $link-hover;
    }
    
    .month{
      background-color: darken($link-hover, 15%);
    }

    .card-img-holder{

      &:after{
        background-color: rgba($latest-hover-color, .6);
      }
    }

    .article-card-title{
      background-color: $latest-hover-color;

      h5{
        color: $link-hover;
      }

      p{
        color: $white;
      }
    }
  }
}