$white: #fff;
$black: #2e2f35;    //heder nav color
$light: #a5a5a5; 
$gray: #8c8c8c; 
$gray-900: #2a2b31; //navbar bg color
$gray-black: #191919;
$blue: #00bff3;

$light-gray: #d1d1d1;

$link-hover: #c7b299;
$slider-nav: #8f9091;
$slider-border: #d3c1ad;
$slider-dot-color: #8e8e90;

$decor-color: #f1eeea; //we-do 

$realization-bg-color: #fbfaf8;

$text-heading-color: #555555;

$btn-bg: #998675;

$text-color-realization-footer: #615855;

$filter-link-border-color: #ebebeb;

$latest-color-paragraph:$light-gray;

$latest-hover-color: #362f2d;

$btn-bottom-border-color: #736357;

$date-bg-color: #363636;
$month-bg-color: #252525;

$posts-slider-prev-btn-color: $light-gray;
$bg-our-info: $gray-black;

$post-date-color: #363636;

$footer-bg: #111;

$twitter-content-link-color: #959595;

