$white: #fff;
$gray-100: #f5f5f5;//input bg active
$gray-200: #e5e5e5;
$gray-500: #787878; //form color
$red: #DE0E1C;
$blue: #002154;

$primary: $blue;
$secondary: $gray-500;
$danger:  $red;

$border-radius: 10px;